/* autofill-fix.css */
input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #374151 inset !important; /* Tailwind's bg-gray-700 */
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}


html {
    scroll-behavior: smooth;
}

.text-outline {
  color: transparent;
  -webkit-text-stroke: 1px black;
}
